<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="{{ asset('images/fast_symfurious.jpeg') }}">
		<style>@import url('https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css');</style>

		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		<script src="{{ asset('js/navbar.js') }}"></script>
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}

		{% endblock %}
	</head>
	<body>
		<nav class="relative px-4 py-2 flex justify-between items-center bg-white">
			<a class="text-3xl font-bold leading-none" href="{{ path('app_login') }}">
				<img src="{{ asset('images/fast_symfurious.jpeg') }}" class="mr-3 h-12">
			</a>
			<div class="lg:hidden">
				<button class="navbar-burger flex items-center text-blue-600 p-3">
					<svg class="block h-4 w-4 fill-current" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<title>Mobile menu</title>
						<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
					</svg>
				</button>
			</div>
			<ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6">
				<li>
					<a class="text-sm text-blue-600 hover:text-gray-500" href="{{ path('app_home') }}">Home</a>
				</li>
				<li class="text-blue-300">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewbox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"/>
					</svg>
				</li>
				<li>
					<a class="text-sm text-blue-600 font-bold" href="#">Drivers</a>
				</li>
				<li class="text-blue-300">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewbox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"/>
					</svg>
				</li>
				<li>
					<a class="text-sm text-blue-600 hover:text-gray-500" href="#">Vehicles</a>
				</li>
				<li class="text-blue-300">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewbox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"/>
					</svg>
				</li>
				<li>
					<a class="text-sm text-blue-600 hover:text-gray-500" href="#">Tracks</a>
				</li>
				<li class="text-blue-300">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" class="w-4 h-4 current-fill" viewbox="0 0 24 24">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v0m0 7v0m0 7v0m0-13a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"/>
					</svg>
				</li>
				<li>
					<a class="text-sm text-blue-600 hover:text-gray-500" href="#">Championship</a>
				</li>
			</ul>
                {% if app.user %}
                    <a href="{{ path('app_logout') }}" class="hidden lg:inline-block py-2 px-6 ml-4 bg-red-500 hover:bg-red-700 text-sm text-white font-bold rounded-xl transition duration-200">Logout</a>
                {% else %}
                    <a class="hidden lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900 font-bold  rounded-xl transition duration-200" href="{{ path('app_login') }}">Sign In</a>
                    <a class="hidden lg:inline-block py-2 px-6 bg-blue-500 hover:bg-blue-600 text-sm text-white font-bold rounded-xl transition duration-200" href="{{ path('app_register') }}">Register</a>
                {% endif %}
		</nav>
		<div class="navbar-menu relative z-50 hidden">
			<div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
			<nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto">
				<div class="flex items-center mb-8">
					<a class="mr-auto text-3xl font-bold leading-none" href="{{ path('app_login') }}">
						<img src="{{ asset('images/fast_symfurious.jpeg') }}" class="mr-3 h-12">
					</a>
					<button class="navbar-close">
						<svg class="h-6 w-6 text-blue-600 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
						</svg>
					</button>
				</div>
				<div>
					<ul>
						<li class="mb-1">
							<a class="block p-4 text-sm font-semibold text-blue-600 hover:bg-blue-50 hover:text-blue-600 rounded" href="#">Home</a>
						</li>
						<li class="mb-1">
							<a class="block p-4 text-sm font-semibold text-blue-600 hover:bg-blue-50 hover:text-blue-600 rounded" href="#">Drivers</a>
						</li>
						<li class="mb-1">
							<a class="block p-4 text-sm font-semibold text-blue-600 hover:bg-blue-50 hover:text-blue-600 rounded" href="#">Vehicles</a>
						</li>
						<li class="mb-1">
							<a class="block p-4 text-sm font-semibold text-blue-600 hover:bg-blue-50 hover:text-blue-600 rounded" href="#">Tracks</a>
						</li>
						<li class="mb-1">
							<a class="block p-4 text-sm font-semibold text-blue-600 hover:bg-blue-50 hover:text-blue-600 rounded" href="#">Championship</a>
						</li>
					</ul>
				</div>
				<div class="mt-auto">
					<div class="pt-6">
					    {% if app.user %}
						<a class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-red-500 hover:bg-red-700  rounded-xl" href="{{ path('app_logout') }}">Logout</a>
						{% else %}
						<a class="block px-4 py-3 mb-3 leading-loose text-xs text-center font-semibold leading-none bg-gray-50 hover:bg-gray-100 rounded-xl" href="{{ path('app_login') }}">Sign in</a>
						<a class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-blue-600 hover:bg-blue-700  rounded-xl" href="{{ path('app_register') }}">Register</a>
						{% endif %}
					</div>
					<p class="my-4 text-xs text-center text-blue-600">
						<span>Copyright © 2021</span>
					</p>
				</div>
			</nav>
		</div>
		{% block body %}{% endblock %}
	</body>
</html>
